@page "/"

<PageTitle>Control de Inventarios</PageTitle>

<div style="display:block; width:50%; margin: 0 auto;">
    <br /><br /><br /><br />
    <h1 style="font-size:60px">Control de Inventario</h1>
    <br/>
    <div style="width:600px; font-size:30px; margin-left:50px;">
        Bienvenido(a) a nuestro Sistema de Gestión de Inventarios y Productos
    </div>
    <br /><br /><br /><br /><br /><br />
</div>








